@import "./base.css";
  .content{
    width: 100%;
    height: 100px;
    background-color: 	#B0C4DE;
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 999;
  }
  .image{
    width: 70px;
    height: 70px;
    background-color: 	#7DFDFE;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 15px;
  }
  .image img{
    width: 80%;
    height: 80%;
    margin: 6px;
  }
  .text{
    font-weight: bold;
    font-size: 23px;
    width: 15%;
    height: 100%;
    margin-left: 5px;
    display: flex;
    align-items: center;
    color: #FF3399;
  }
  .wrapper{
    width: 40%;
    height: 100%;
    margin-left: 40px;
    display: flex;
    align-items: center;
 }
 .wrapper a{
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
 }
 .icon{
  position: relative;
  cursor: pointer;
 }
 .icon span i{
  font-size: 25px;
  position: absolute;
  top: 40%;
 }
 .icon p i{
  font-size: 25px;
  position: absolute;
  left: 34px;
  top: 40%;
 }
 .icon>input{
  width: 15rem;
  height: 27px;
  padding: 2px;
  background-color: azure;
  border-radius: 10px;
  position: absolute;
  left: 75px;
  top: 40%;
  appearance: none;
  background: none;
 }
 .icon>nav{
  font-size: 25px;
  position: absolute;
  left: 340px;
  top: 39%;
 }
 .main{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .box{
  width: 90%;
  height: 310px;
  margin-top: 5px;
  background-color: aliceblue;
 }
 .box img{
  width: 100%;
  height: 100%;
 }
 .detail{
  width: 90%;
  height: 8%;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .detail p{
  color: orange;
 }
 .sub_main{
  width: 100%;
  height: 240px;
  margin-top: 25px;
  display: flex;

 }
 .sub_a{
  width: 100%;
  height: 98%;
  display: flex;
  justify-content: space-around;
 }
 .boxa{
  width: 23%;
  height: 100%;
  border: 1px solid orange;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;

 }
 .boxa img{
  width: 100%;
  height: 100%;
 }
.text_a{
  width: 100%;
  height: 10%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.text1{
  width: 23%;
  height: 100%;
  color: orange;
  font-size: 17px;
  padding-left: 5px;
}
.text1 button{
  border-radius: 5px;
  width: 35px;
  padding: 3px;
}
.text1 button:hover{
  background-color: 	#1E90FF;
  color: white;
  cursor: pointer;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: #DEB887;
    margin-top: 10px;
    display: flex;
  }
  .texts{
    font-weight: bold;
    font-size: 23px;
    width: 15%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    align-items: center;
  }
  .catagory{
    width: 40%;
    height: 100%;
    margin-left: 40px;
    display: flex;
    align-items: center;
 }
 .catagory a{
  padding: 10px;
  font-size: 20px;
 }
 .subscribe{
    width: 40%;
    height: 100%;
    margin-right: -20px;
 }
 .subscribe p{
  float: left;
  margin-left: 45%;
 }
 .subscribe input{
  padding: 5px;
  float: left;
  margin-left: 40%;
  cursor: pointer;
 }
 .subscribe button{
  padding: 5px;
  float: right;
  margin-right: 19.1%;
  background-color: red;
  color: aliceblue;
  cursor: pointer;
 }


